@import 'styles/_main.scss';

.pv-container{
  padding:10px;
}
header{
  border-bottom:1px solid $color-gray;
  padding:10px 20px 10px 20px;
  h1{
    font-size: 18px;
    font-family: $font-primary;
    color:$color-primary;
    text-decoration: none;
    cursor:pointer;
  }
}

a:-webkit-any-link{
  text-decoration: none;
}