@import 'styles/main.scss';

.pv-container{
  padding:10px;
}
header{
  border-bottom:1px solid $color-gray;
  padding:10px 20px 10px 20px;
  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1{
      font-size: 18px;
      font-family: $font-primary;
      color:$color-primary;
      text-decoration: none;
      cursor:pointer;
    }
  }
}

.pv-loading-point{
    border-radius: 10px;
    background-color: #2594D9;
    width: 10px;
    height: 10px;
    margin-top: 20px;
}

a:-webkit-any-link{
  text-decoration: none;
}