.pv-primary-badge{
    background-color: $color-primary;
    color: $color-white;
    padding:5px;
    border-radius:4px;
    font-family:$font-secondary;
    font-weight: 700;
    margin-right: 5px;
}