.podcast-details-container{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.podcast-details-right{
    width:20%;
    img{
        width:80%;
        margin-left:9.5%;
        border-radius:12px;
    }
    h5{
        margin-top: 0px;
    }
}