.podcast-list{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    padding-left:0px;
    li{
        text-align:center;
        width:23%;
        margin:1%;
        h3{
            text-transform: uppercase;
            text-decoration: none !important;
            margin:0px;
        }
        h5{
            text-decoration: none !important;
            margin:0px;
        }
    }
}

.podcast-list-img{
    z-index:99;
    img{
        border-radius: 98px;
        width: 120px;
    }
}

.podcast-list-info{
    padding:100px 20px 40px 20px;
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}